<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Survey</title>

	<style>
		h1 {
			text-align: center;
		}
		#userid {
			font-size: 24px;
		}
	</style>
</head>
<body>
  <span>Page 5 of 5</span>
	<h1>Thank you for your participation.</h1>
	<h2>Please copy and paste the code below into MTurk for your reward:</h2>

	<span id="userid"></span>

	<script>
		const userId = document.querySelector("#userid");

		userId.innerText += ` ${localStorage.getItem("username")}`;
	</script>
</body>
</html>