<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Survey App</title>
    </head>
    <body>
		<style>
		 input {
			 padding: 1rem;
		 }

		 img {
			 width: 100%;
		 }
		 button {
			 border: none;
			 padding: 1rem;
			 border-radius: 3px;
			 max-width: 30%;
			 cursor: pointer;
		 }
     button:hover {
       background-color: #A9A9A9;
     }

			#user-name {
				margin-top: 1.50rem;
				margin-bottom: 1.50rem;
			}

		 .container {
			 padding-left: 2rem;
			 padding-right: 2rem;
			 max-width: 1188px;
		 }

		 #error-display {
			 margin-bottom: 1rem;
		 }

     .mb-2 {
       margin-bottom: 1.25rem;
     }
     
		 .flex {
			 display: flex;
		 }

		 .flex-col {
			 flex-direction: column;
		 }

		 .flex-row {
			 flex-direction: row;
		 }

		 .justify-center {
			 justify-content: center;
		 }
		 .hidden {
			 display: none;
		 }

		 .block {
			 display: block;
		 }

		 .text-red-300 {
			 color: red;
		 }

     .text-center {
       text-align: center;
     }

      /* Customize the label (the container) */
      .checkmark-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      /* Hide the browser's default checkbox */
      .checkmark-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: -4px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        margin-left: 0.5rem;
      }

      /* On mouse-over, add a grey background color */
      .checkmark-container:hover input ~ .checkmark {
        background-color: #ccc;
      }

      /* When the checkbox is checked, add a blue background */
      .checkmark-container input:checked ~ .checkmark {
        background-color: #2196F3;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the checkmark when checked */
      .checkmark-container input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      .checkmark-container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .items-center {
        align-items: center;
      }

      .text-bold {
        font-weight: 600;
      }

      .text-lg {
        font-size: 1.5rem;
      }
		</style>


		<div class="container">
			<div class="flex flex-col justify-center">
				<!-- Add a heading -->
				<h2 class="text-center">Data Visualisation: 2D vs 3D Bar Charts</h2>
        <h3 class="text-center">Information Sheet and Participant Consent Form for Research Participants</h3>
        <br />
        <p>You have been invited to take part in this research study. Before you proceed with this survey, please read all of the following information carefully to understand the purpose of this research and what it entails.</p>

        <span>
          <h4>What is the purpose of this survey?</h4>
          <p>This survey is the final phase of a Masters Degree in Data Science at Manchester Metropolitan University. The aim of this survey is to compare the effectiveness of 2D and 3D bar charts to create a solution to a real life Data Science problem. This will ultimately provide more research within the data visualisation field regarding any claims surrounding the practicality of reading from a specific type of graph.</p>
        </span>

        <span>
          <h4>What will I have to do?</h4>
          <p>You will be shown a 2D and a 3D bar chart from a random selection of graphs. You will be required to answer five different questions based on the content of these graphs. Please make sure that you are paying full attention throughout the duration of this survey, failure to do so could result in a loss of compensation. Please complete this survey in a quiet room with minimal distractions. Make sure you read the consent statement carefully and provide a unique ID according to the format given at the bottom of this page, alongside your signature and the date.</p>
        </span>

        <span>
          <h4>Ethics</h4>
          <p>Your participation in this study will be kept confidential. All responses will remain anonymous and there will be no means to personally identify anyone who completes this survey. This survey follows all guidance from the Equality Act 2010 and is open to anyone from any age, disability, sex, gender, race, religion, belief and sexual orientation.</p>
        </span>

        <span>
          <h4>Consent Statement</h4>
          <p>I give my full informed consent to take part in this research. I understand that I am free to withdraw from this study at any given point without reason. I am aware that my identity will always be protected, even during the publication of any findings. I understand that my data will be collected, processed, and analysed with accordance to the Data Protection Act 2018 and Manchester Metropolitan University’s Data Protection Policy.</p>
          <div class="flex items-center mb-2">
            <p class="font-bold text-lg">Please check the box if you consent</p>
            <label class="checkmark-container">
              <input id="consent" type="checkbox" />
              <span class="checkmark"></span>
            </label>
          </div>
        </span>


        <label>Unique ID:
          <em>(Note: Your unique ID should be the first two letters of your first name, your year of birth and the last two letters of your last name, eg. if your name is John Smith and you were born in 1995, your unique ID would be jo1995th.)</em>
        </label>

				<input id="user-name" placeholder="please provide your unique id" />
				<span id="error-display" class="hidden"></span>

				<button id="submit-details">Submit</button>
			</div>
		</div>
		<script src="js/index.js"></script>
    </body>
</html>
