<!--

1. give the home page a good heading
- 


-->

<!-- main section my page -->

<style>
	.image-divider {
		display: flex;
		width: 450px;
	}

	img {
		width: 100%;
	}
</style>


<!--
	1. Add a meaningful heading
	2. Explain the purpose of this experiment
	3. Instructions
-->
<div>
	<!-- Add a heading -->
	<h4>Some text</h4>
	<!-- Add a meaningful explanation -->
	<p>Something here</p>
	<!-- Add steps to doing to experiment -->
	<p>How to do experiment:</p>
	<ol>
		<li>Do this thing</li>
		<li>Do this other thing</li>
	</ol>
</div>

<div class="image-divider">
	<img src="graph1.png" alt="graph1">
	<img src="graph2.png" alt="graph2">
</div>

