<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Survey App</title>

        <style>
         #justification, #additional_comments {
           width: 750px;
           height: 400px;
         }

         #submit-feedback {
           display: block;
           padding: 1rem;
           border: none;
         }

         .feedback-questions {
           display: flex;
           flex-direction: column;
         }

         .feedback-options {
           margin-bottom: 1rem;
         }
        </style>
    </head>
    <body>
        <h1>Thank you for participating in this survey!</h1>

        <div class="feedback-questions">
          <h3>Which graph did you find easier to read and why?</h3>
          <div class="feedback-options">
            <label>2D Graph</label>
            <input id="checkbox-2d" type="checkbox" />
            <label>3D Graph</label>
            <input id="checkbox-3d" type="checkbox" />
          </div>

          <textarea id="justification"></textarea>
        </div>

        <div>
          <h3>If you have any other thoughts or comments, please comment below.</h3>
          <textarea id="additional_comments"></textarea>
        </div>

        <button id="submit-feedback">Submit feedback</button>

        <script src="js/thankyou.js"></script>
    </body>
</html>
