<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Survey App</title>
    </head>
    <body>
        <h1>Thank you for participating in this survey!</h1>
    </body>
</html>
