<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Survey App</title>

        <style>
         #justification, #additional_comments {
           width: 750px;
           height: 400px;
         }

         #submit-feedback {
           display: block;
           padding: 1rem;
           border: none;
         }

         .feedback-questions {
           display: flex;
           flex-direction: column;
         }

         .feedback-options {
           margin-bottom: 1rem;
         }


        /* Customize the label (the container) */
        .checkmark-container {
          display: inline-block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        /* Hide the browser's default checkbox */
        .checkmark-container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: -4px;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: #eee;
          margin-left: 0.5rem;
        }

        /* On mouse-over, add a grey background color */
        .checkmark-container:hover input ~ .checkmark {
          background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .checkmark-container input:checked ~ .checkmark {
          background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        .checkmark-container input:checked ~ .checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        .checkmark-container .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        </style>
    </head>
    <body>
        <h1>Thank you for participating in this survey!</h1>

        <div class="feedback-questions">
          <h3>Which graph did you find easier to read and why?</h3>
          <div class="feedback-options">
            <label class="checkmark-container">
              2D Graph
              <input id="checkbox-2d" type="checkbox" />
              <span class="checkmark"></span>
            </label>
            <label class="checkmark-container">
              3D Graph
              <input id="checkbox-3d" type="checkbox" />
              <span class="checkmark"></span>
            </label>
          </div>

          <textarea id="justification"></textarea>
        </div>

        <div>
          <h3>If you have any other thoughts or comments, please comment below.</h3>
          <textarea id="additional_comments"></textarea>
        </div>

        <button id="submit-feedback">Submit feedback</button>

        <script src="js/thankyou.js"></script>
    </body>
</html>
