<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Survey App</title>
    </head>
    <body>
        <h1>Thank you for participating in this survey!</h1>
        <h2>If you have any feedback you'd like to give, please commend down below</h2>

        <textarea id="feedback"></textarea>
    </body>
</html>
